<div class="modal-header">
    <h4 class="modal-title" *ngIf="modoAgregar">Agregar historia</h4>
    <h4 class="modal-title" *ngIf="!modoAgregar">Editar historia</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalActivo.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formularioHistoria" (ngSubmit)="guardar()">
        <div class="form-group">
            <label for="usuario">Usuario</label>
            <mat-form-field>
                <mat-select placeholder="Usuario" id="idUsuario" name="idUsuario" formControlName="idUsuario">
                    <mat-option *ngFor="let usuario of usuarios" [value]="usuario.idUsuario">
                        {{ usuario.identificacion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group">
            <label for="equipo">Equipo</label>
            <mat-form-field>
                <mat-select placeholder="Equipo" id="idEquipo" name="idEquipo" formControlName="idEquipo">
                    <mat-option *ngFor="let equipo of equipos" [value]="equipo.idEquipo">
                        {{ equipo.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group">
            <label for="sucursal">Sucursal</label>
            <mat-form-field>
                <mat-select placeholder="Sucursal" id="idSucursal" name="idSucursal" formControlName="idSucursal">
                    <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal.idSucursal">
                        {{ sucursal.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group">
            <label for="comentarios">Comentarios</label>
            <textarea id="comentarios" placeholder="Comentarios" class="form-control" formControlName="comentarios" maxlength="300" ></textarea>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modalActivo.close('Close click')">Cerrar</button>
    <button class="btn btn-primary" (click)="guardar()" [disabled]="formularioHistoria.invalid">Guardar</button>
  </div>
  