<div *ngIf="Cargando" id="minicontenedor" >
    <div class="miniloader1" id="loader"></div>
</div>
<div *ngIf="!Cargando">
    <ng-template #defaultItemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange">
        <div class="form-inline row-item" >
            <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fa" [class.fa-caret-right]="item.collapsed"
            [class.fa-caret-down]="!item.collapsed"></i>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="item.checked" (ngModelChange)="onCheckedChange()"
                        [disabled]="item.disabled" [indeterminate]="item.indeterminate" />
                        <span style="margin-left:2px; margin-top:2px;" class="form-check-sign">
                        <span class="check"></span>
                    </span>
                    <label class="form-check-label" (click)="item.checked = !item.checked; onCheckedChange()">
                        {{item.text}}
                    </label>
                </label>
            </div>
        </div> 
    </ng-template>

    <div class="modal-header">
        <h4 class="modal-title">Roles de usuario</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalActivo.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group" >
            <ngx-treeview [config]="configuracion" [items]="elementos" [itemTemplate]="defaultItemTemplate" ></ngx-treeview>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modalActivo.close('Close click')">Cerrar</button>
        <button class="btn btn-primary" (click)="guardar()">Guardar</button>
    </div>
</div>  