<div class="main-content">
  <div *ngIf="Cargando" id="contenedor" >
      <div class="loader1" id="loader"></div>
  </div>
  <div *ngIf="!Cargando" class="container-fluid">
      <div class="row" >
          <div class="col-md-10">

          </div>
          <div class="col-md-2">
            <button style="float: right;" mat-raised-button *ngIf="MostrarCargar" type="button" class="btn btn-success btn-round" (click)="clickSubirArchivo()" matTooltip="Carga masiva">
                <i class="material-icons">backup</i>
            </button>
          </div>        
      </div>
      <div class="row">
          <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_paste</i>
                    </div>
                    <h4 class="card-title">Equipos</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="col-md-6 mx-auto">
                            <div class="md-form">
                              <input placeholder="Ingresa una palabra a buscar" type="text" class="form-control" [(ngModel)]="textoBuscar">
                            </div>
                          </div>
                        <table class="table" matSort (matSortChange)="sortData($event)">
                            <thead>
                                <tr>
                                    <th mat-sort-header="nombre">Nombre</th>
                                    <th mat-sort-header="marca">Marca</th>
                                    <th mat-sort-header="modelo">Modelo</th>
                                    <th mat-sort-header="activoFijo" >Activo Fijo</th>
                                    <th>Fecha compra</th>
                                    <th class="text-center">Activo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let equipo of equiposOrdenadosSucursal | filter: textoBuscar| paginate : { id: 'equiposPaginacion', itemsPerPage:5, currentPage: pagina };">
                                    <td>{{equipo.nombre}}</td>                                        
                                    <td>{{equipo.marca}}</td>
                                    <td>{{equipo.modelo}}</td>
                                    <td>{{equipo.activoFijo}}</td>
                                    <td>{{equipo.fechaCompra | date}}</td>
                                    <td class="td-actions text-center" style="align-content:center">
                                        <button [hidden]="!equipo.activo" mat-raised-button type="button" class="btn btn-success btn-link">
                                            <i class="material-icons">check</i>
                                        </button>
                                        <button [hidden]="equipo.activo" mat-raised-button type="button" class="btn btn-danger btn-link">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <pagination-controls id="equiposPaginacion" maxSize="5" directionLinks="true" (pageChange)="pagina = $event" 
                                                 nextLabel="Siguiente" previousLabel="Anterior" >
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">security</i>
                    </div>
                    <h4 class="card-title">Usuarios</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Identificacion</th>
                                    <th>Nombre</th>
                                    <th>Fecha Insercion</th>
                                    <th class="text-center">Activo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let usuario of usuarios | paginate : { id: 'usuariosPaginacion', itemsPerPage:5, currentPage: pagina };">
                                    <td>{{usuario.identificacion}}</td>
                                    <td>{{usuario.nombre}}</td>
                                    <td>{{usuario.fechaInsercion}}</td>
                                    <td class="td-actions text-center" style="align-content:center">
                                        <button [hidden]="!usuario.activo" mat-raised-button type="button" class="btn btn-success btn-link" >
                                            <i class="material-icons">check</i>
                                        </button>
                                        <button [hidden]="usuario.activo" mat-raised-button type="button" class="btn btn-danger btn-link" >
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <pagination-controls id="usuariosPaginacion" maxSize="5" directionLinks="true" (pageChange)="pagina = $event" 
                                                 nextLabel="Siguiente" previousLabel="Anterior" >
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_paste</i>
                    </div>
                    <h4 class="card-title">Historia de inventario</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">Identificador</th>
                                    <th>Usuario Inventario</th>
                                    <th>Equipo</th>
                                    <th>Sucusal</th>
                                    <th>Fecha inventario</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let historia of historias | paginate : { id: 'historiasPaginacion', itemsPerPage:5, currentPage: pagina };">
                                    <td class="text-center">{{historia.idHistoria}}</td>
                                    <td>{{obtenerIdentificacionUsuario(historia.idUsuario)}}</td>
                                    <td>{{obtenerNombreEquipo(historia.idEquipo)}}</td>
                                    <td>{{obtenerNombreSucursal(historia.idSucursal)}}</td>
                                    <td>{{historia.fechaInsercion | date}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <pagination-controls id="historiasPaginacion" maxSize="5" directionLinks="true" (pageChange)="pagina = $event" 
                                                 nextLabel="Siguiente" previousLabel="Anterior" >
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>