<div class="main-content">
    <div *ngIf="Cargando" id="contenedor" >
        <div class="loader1" id="loader"></div>
    </div>
    <div *ngIf="!Cargando" class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_paste</i>
                        </div>
                        <h4 class="card-title">Caracteristicas</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">Identificador</th>
                                        <th>Nombre</th>
                                        <th>Fecha Insercion</th>
                                        <th class="text-center">Activo</th>
                                        <th></th>
                                        <th class="td-actions text-center">
                                            <button mat-raised-button type="button" class="btn btn-info btn-round text-center" (click)="clickAgregar()" matTooltip="Agregar caracteristica">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let caracteristica of caracteristicas | paginate : { id: 'caracteristicaPaginacion', itemsPerPage:10, currentPage: pagina };">
                                        <td class="text-center">{{caracteristica.idCaracteristica}}</td>
                                        <td>{{caracteristica.nombre}}</td>
                                        <td>{{caracteristica.fechaInsercion}}</td>
                                        <td class="td-actions text-center" style="align-content:center">
                                            <button [hidden]="!caracteristica.activo" mat-raised-button type="button" class="btn btn-success btn-link" (click)="clickActivarDesactivar(caracteristica)" matTooltip="Desactivar caracteristica">
                                                <i class="material-icons">check</i>
                                            </button>
                                            <button [hidden]="caracteristica.activo" mat-raised-button type="button" class="btn btn-danger btn-link" (click)="clickActivarDesactivar(caracteristica)" matTooltip="Activar caracteristica">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                        <td class="td-actions text-center" style="align-content:center">
                                            <button mat-raised-button type="button" class="btn btn-success btn-round" (click)="clickEditar(caracteristica)" matTooltip="Editar caracteristica">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button *ngIf="MostrarEliminar" type="button" class="btn btn-danger btn-round" (click)="clickEliminar(caracteristica)" matTooltip="Eliminar caracteristica">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <pagination-controls id="caracteristicaPaginacion" maxSize="5" directionLinks="true" (pageChange)="pagina = $event" 
                                                     nextLabel="Siguiente" previousLabel="Anterior" >
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>