<div class="main-content">
    <div *ngIf="Cargando" id="contenedor" >
        <div class="loader1" id="loader"></div>
    </div>
    <div *ngIf="!Cargando" class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_paste</i>
                        </div>
                        <h4 class="card-title">Historias</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">Identificador</th>
                                        <th>Usuario Inventario</th>
                                        <th>Equipo</th>
                                        <th>Sucusal</th>
                                        <th>Comentarios</th>
                                        <th>Fecha inventario</th>
                                        <th class="td-actions text-center">
                                            <button mat-raised-button type="button" class="btn btn-info btn-round text-center" (click)="clickAgregar()" matTooltip="Agregar historia">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let historia of historias | paginate : { id: 'historiasPaginacion', itemsPerPage:10, currentPage: pagina };">
                                        <td class="text-center">{{historia.idHistoria}}</td>
                                        <td>{{obtenerIdentificacionUsuario(historia.idUsuario)}}</td>
                                        <td>{{obtenerNombreEquipo(historia.idEquipo)}}</td>
                                        <td>{{obtenerNombreSucursal(historia.idSucursal)}}</td>
                                        <td>{{historia.fechaInsercion | date}}</td>
                                        <td>{{historia.comentarios}}</td>
                                        <td class="td-actions text-center" style="align-content:center">
                                            <button mat-raised-button type="button" class="btn btn-success btn-round" (click)="clickEditar(historia)" matTooltip="Editar historia">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <pagination-controls id="historiasPaginacion" maxSize="5" directionLinks="true" (pageChange)="pagina = $event" 
                                                     nextLabel="Siguiente" previousLabel="Anterior" >
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>