<div class="main-content">
    <div *ngIf="Cargando" id="contenedor" >
        <div class="loader1" id="loader"></div>
    </div>
    <div *ngIf="!Cargando" class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">security</i>
                        </div>
                        <h4 class="card-title">Permisos</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">Identificador</th>
                                        <th>Permiso padre</th>
                                        <th>Nombre</th>
                                        <th>Texto</th>
                                        <th>Icono</th>
                                        <th>Orden</th>
                                        <th>Fecha Insercion</th>
                                        <th class="text-center">Activo</th>
                                        <th></th>
                                        <th class="td-actions text-center">
                                            <button mat-raised-button type="button" class="btn btn-info btn-round text-center" (click)="clickAgregar()" matTooltip="Agregar permiso">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let permiso of permisos | paginate : { id: 'permisosPaginacion', itemsPerPage:10, currentPage: pagina };">
                                        <td class="text-center">{{permiso.idPermiso}}</td>
                                        <td>{{obtenerPermisoPadre(permiso.idPermisoPadre)}}</td>
                                        <td>{{permiso.nombre}}</td>
                                        <td>{{permiso.texto}}</td>
                                        <td>{{permiso.icono}}</td>
                                        <td>{{permiso.orden}}</td>
                                        <td>{{permiso.fechaInsercion}}</td>
                                        <td class="td-actions text-center" style="align-content:center">
                                            <button [hidden]="!permiso.activo" mat-raised-button type="button" class="btn btn-success btn-link" (click)="clickActivarDesactivar(permiso)" matTooltip="Desactivar permiso">
                                                <i class="material-icons">check</i>
                                            </button>
                                            <button [hidden]="permiso.activo" mat-raised-button type="button" class="btn btn-danger btn-link" (click)="clickActivarDesactivar(permiso)" matTooltip="Activar permiso">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                        <td class="td-actions text-center" style="align-content:center">
                                            <button mat-raised-button type="button" class="btn btn-success btn-round" (click)="clickEditar(permiso)" matTooltip="Editar permiso">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <pagination-controls id="permisosPaginacion" maxSize="5" directionLinks="true" (pageChange)="pagina = $event" 
                                                     nextLabel="Siguiente" previousLabel="Anterior" >
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>