<div class="modal-header">
    <h4 class="modal-title" *ngIf="modoAgregar">Agregar usuario</h4>
    <h4 class="modal-title" *ngIf="!modoAgregar">Editar usuario</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalActivo.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formularioUsuario" (ngSubmit)="guardar()">
      <div class="form-group">
        <label for="sucursal">Sucursal</label>
        <mat-form-field>
            <mat-select placeholder="Sucursal" id="idSucursal" name="idSucursal" formControlName="idSucursal">
                <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal.idSucursal">
                    {{ sucursal.nombre }}
                </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <label for="identificacion">Identificacion*</label>
        <input type="text" id="identificacion" placeholder="Identificacion" class="form-control" formControlName="identificacion" maxlength="50" />
        <span style="color:Red;" *ngIf="formularioUsuario.controls['identificacion'].touched && formularioUsuario.controls['identificacion'].errors?.required">
            Identificacion es requerida.
        </span>
      </div>
      <div class="form-group">
        <label for="correo">Correo*</label>
        <input type="text" id="nombre" placeholder="Correo" class="form-control" formControlName="correo" maxlength="50" />
        <span style="color:Red;" *ngIf="formularioUsuario.controls['correo'].touched && formularioUsuario.controls['correo'].errors?.required">
            Correo es requerido.
        </span>
      </div>
      <div class="form-group">
        <label for="rut">RUT*</label>
        <input type="text" id="rut" placeholder="RUT" class="form-control" formControlName="rut" maxlength="20" />
        <span style="color:Red;" *ngIf="formularioUsuario.controls['rut'].touched && formularioUsuario.controls['rut'].errors?.required">
            RUT es requerido.
        </span>
      </div>
      <div class="form-group">
        <label for="nombre">Nombre*</label>
        <input type="text" id="nombre" placeholder="Nombre" class="form-control" formControlName="nombre" maxlength="50" />
        <span style="color:Red;" *ngIf="formularioUsuario.controls['nombre'].touched && formularioUsuario.controls['nombre'].errors?.required">
            Nombre es requerido.
        </span>
      </div>
      <div class="form-group">
        <label for="contrasena">Contraseña</label>
        <input type="text" id="contrasena" placeholder="Contraseña" class="form-control" formControlName="contrasena" maxlength="20" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modalActivo.close('Close click')">Cerrar</button>
    <button class="btn btn-primary" (click)="guardar()" [disabled]="formularioUsuario.invalid">Guardar</button>
  </div>
  